#OS junk files
Thumbs.db
desktop.ini
*.DS_Store

# Unix backups
*.*~ # For example: a file named "client.cpp" may have a backup named "client.cp~"

# MS Office backup files
~$*
~*.tmp

# build-... and dist folders (default location for storing compiled code)
build*/
dist/

# autosave and workstation-dependant files of Qt Creator
*.autosave
*.pro.user
*.pro.user.*

# compiled files
*.class
*.o
*.a
*.exe

# Shortcuts (Windows lnk-files won't work cross-workstation anyway)
*.lnk

# compiled or private loader project data
loader/bin/
loader/nbproject/private/

# data grabbed by the loader
loader/cache/
cache/

# log files
*.log*

# Generated documentation
doc/output/
doc/loader/

# temporary LaTeX files
*.aux
*.synctex.gz
*.pdf
