#OS junk files
[Tt]humbs.db
*.DS_Store

# build-... folders (default location for storing compiled code)
build*/

# autosave files of Qt Creator
*.autosave
*.pro.user

# Java class files
*.class

# Shortcuts (Windows lnk-files won't work cross-workstation anyway)
*.lnk

