#OS junk files
[Tt]humbs.db
desktop.ini
*.DS_Store

# MS Office backup files
~$*
~*.tmp

# build-... and dist folders (default location for storing compiled code)
build*/
dist/

# autosave and workstation-dependant files of Qt Creator
*.autosave
*.pro.user

# compiled files
*.class
*.o
*.a
*.exe

# Shortcuts (Windows lnk-files won't work cross-workstation anyway)
*.lnk

# compiled or private loader project data
loader/build/
loader/dist/
loader/nbproject/private/

# data grabbed by the loader
loader/cache/
cache/

# log files
*.log

# Generated Doxygen documentation
doc/output/